---
# tasks file for ansible-role-nginx-modsec3-crs3

- name: Installing Pre-Reqs for Debian/Ubuntu
  apt:
    name: "{{ nginx_modsec3_crs3_debian_pre_reqs }}"
    state: present
  when: ansible_os_family == "Debian"

- name: Installing Pre-Reqs for RHEL/Centos
  yum:
    name: "{{ nginx_modsec3_crs3_redhat_pre_reqs }}"
    state: present
  when: ansible_os_family == "RedHat"

- name: Save the current list of packages for Debian/Ubuntu
  shell: dpkg-query -l > /tmp/before.txt
  when: ansible_os_family == "Debian" and ( nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep )

- name: Save the current list of packages for RHEL/Centos
  shell: rpm -qa > /tmp/before.txt
  when: ansible_os_family == 'RedHat' and ( nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep )

- name: Installing compiler dependencies for Debian/Ubuntu
  apt:
    name: "{{ nginx_modsec3_crs3_debian_compiler_reqs }}"
    state: present
  when: ansible_os_family == "Debian"

- name: Installing compiler dependencies for RHEL/Centos
  yum:
    name: "{{ nginx_modsec3_crs3_redhat_compiler_reqs }}"
    state: present
  when: ansible_os_family == "Redhat"

- name: run Nginx selinux tasks
  include_role:
    name: ansible-role-nginx
    tasks_from: selinux.yml
    allow_duplicates: yes
  when: ansible_selinux and ansible_selinux.status == "enabled"

- name: run Nginx nginx offical repo tasks
  include_role:
    name: ansible-role-nginx
    tasks_from: nginx-official-repo.yml
    allow_duplicates: yes
  when: nginx_official_repo == True

- name: run Nginx install packages tasks
  include_role:
    name: ansible-role-nginx
    tasks_from: installation.packages.yml
    allow_duplicates: yes
#  when: nginx_installation_type == "packages"

- name: get the rpm or apt package facts
  package_facts:
    manager: "auto"

- name: record nginx version
  set_fact:
    nginx_modsec3_crs3_nginx_version: "{{ ansible_facts.packages.nginx[0].version.split('-')[0] }}"

- name: Compile ModSecurity3 and install OWAPS CRS3
  include: compile.yml

- name: Configure Nginx now that the Modsec module is built
  import_role:
    name: ansible-role-nginx

- name: Check which packages were installed for Debian/Ubuntu
  shell: dpkg-query -l > /tmp/after.txt
  when: ansible_os_family == "Debian" and ( nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep )

- name: Check which packages were installed for RHEL/Centos
  shell: rpm -qa > /tmp/after.txt
  when: ansible_os_family == "RedHat" and ( nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep )

- name: Create a list of installed packages
  shell: diff /tmp/before.txt /tmp/after.txt|awk '/>/{print $3}'
  register: installed
  when: nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep

- name: Remove installed packages for compiling
  package:
    name: "{{ installed.stdout_lines }}"
    state: absent
  when: installed is defined and (nginx_modsec3_crs3_keep is undefined or not nginx_modsec3_crs3_keep)
